@import 'src/assets/styles/variables.scss';


@media (min-width: 575.98px)  {
  .planets {
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .planets {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .planets {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}
@media (min-width: 992px) {
  .planets {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
}


.main-section-wrapper {
  width: 100%;
  height: calc(100vh - 110px);
  background: $white-2;
  .main-section {
    max-width: 1280px;
    margin: auto;
    height: 100%;
    overflow: hidden auto;
    padding: 0 15px;
    .overview {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      .overview__text {
        font-size: 16px;
        color: $font-text-3;
      }
      .overview-time-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }
        .overview__timetaken {
          font-size: 16px;
          color: $font-text-3;
          width: max-content;
          .overview__timetaken-value {
            color: $font-text-1;
            font-weight: 600;
          }
        }
      }
    }
    .planets {
      display: grid;
      // grid-template-columns: repeat(3,minmax(0,1fr));
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      .planet {
        height: 220px;
        background: $white-1;
        box-shadow: $shadow1;
        .planet-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $white-11;
          padding: 20px;
          height: 80px;
          .planet-header-info-wrapper {
            .planet-header-info {
              display: flex;
              align-items: center;
              margin-bottom: 5px;
              .planet-header-info__name {
                margin: 0;
                color: $font-text-1;
                font-weight: 600;
                margin-right: 10px;
              }
              .planet-header-info__selected {
                height: 14px;
              }
            }
            .planet-header-info__distance {
              margin: 0;
              font-size: 14px;
              color: $font-text-2;
            }
          }
          .planet-header-action {
            width: 100px;
            text-align: right;
          }
        }
        .space-section {
          padding: 20px;
          height: 140px;
          .vehicle-dropdown {
            display: block;
            border: 1px solid rgba(0,0,0,.12);
            border-radius: 4px;
            ::ng-deep .mat-select-trigger {
              padding: 10px;
            }

          }
          .space-section-info {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 15px;
            .space-section-info__speed {
              font-size: 14px;
              color: $font-text-3;
              .space-section-info__speed-value {
                color: $font-text-1;
                font-weight: 600;
              }
            }
            .space-section-info__time {
              font-size: 14px;
              color: $font-text-3;
              .space-section-info__time-value {
                color: $font-text-1;
                font-weight: 600;
              }
            }
          }
        }
        .space-skeleton {
          padding: 20px;
          display: flex;
          min-height: 100px;
          align-items: center;
          box-sizing: border-box;
          height: 140px;
          img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
          p {
            color: $font-text-3;
            font-size: 14px;
            text-align: center;
            margin: 0;
          }
        }
      }
      .planetSelected {
        border: 1px solid $white-12;
      }
    }
    .find-falcone {
      margin-top: 40px;
      margin-bottom: 20px;
      text-align: center;
      .find-falcone__btn {
        font-weight: 600;
        font-size: 16px;
        ::ng-deep .mat-button-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
      }
    }
  }
  .loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.vehicle-dropdown__search {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 16px;
  height: 48px;
  font-size: 16px;
}
::ng-deep .mat-form-field {
  height: 50px;
  padding: 0;
}
