$primary: #3895D3;
$secondary-1: #1261A0;
$secondary-2: #58CCED;
$footer: #0a162e;

$font-text-1: #0a152e;
$font-text-2: #3b4357;
$font-text-3: #6c7281;
$font-text-4: #9da1ab;
$font-text-5: #ced0d5;

$white-1: #ffffff;
$white-2: #fbfbfe;
$white-3: #f5f7fd;
$white-4: #dfe4f4;
$white-5: #e5e9f4;
$white-6: #edf1fc;
$white-7: #f5f7fd;
$white-8: #f6f6f6;
$white-9: #f9f9f9;
$white-10: #fcfcfc;
$white-11: #f3f3f5;
$white-12: #ebecee;

$shadow1: 0 5px 8px 0 #f2f2f2;

$error: #ed3636;
$success: #27ae60;
